# Configuration file

nations {
    # Enable JMSDF equipment [default: false]
    B:enableJMSDF=false

    # Enable NATO equipment [default: false]
    B:enableNATO=false

    # Enable PLAN equipment [default: false]
    B:enablePLAN=false

    # Enable USN equipment [default: true]
    B:enableUSN=true

    # Enable VMF equipment [default: false]
    B:enableVMF=false
}


performance {
    # Max force loaded chunks [range: 1 ~ 256, default: 16]
    I:maxForceLoadedChunks=16

    # Radar scan interval [range: 1 ~ 100, default: 20]
    I:radarScanInterval=20
}


range {
    # Anti-ship missile range [range: 0 ~ 20480, default: 20480]
    I:antiShipMissile=20480

    # CIWS range [range: 0 ~ 20480, default: 1280]
    I:ciws=1280

    # Cruise missile range [range: 0 ~ 20480, default: 20480]
    I:cruiseMissile=20480

    # Main gun range [range: 0 ~ 20480, default: 5120]
    I:mainGun=5120

    # Radar scan range [range: 0 ~ 20480, default: 5120]
    I:radar=5120

    # SLBM range [range: 0 ~ 20480, default: 20480]
    I:slbm=20480

    # Sonar range [range: 0 ~ 20480, default: 1280]
    I:sonar=1280

    # VLS range [range: 0 ~ 20480, default: 5120]
    I:vls=5120
}


